.heading {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.heading__align--left {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

.heading__title {
    letter-spacing: -2px;
    color: var(--theme-color-primary-base);
    font-size: var(--theme-font-size-big)
}

.heading__subtitle {
    color: var(--theme-colors-cape);
    margin-top: 20px;
}

.heading__subtitle a {
    text-decoration: underline;
    color: var(--theme-colors-mandy);
    transition-property: color;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}
